* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

#loading {
    display: flex;
    justify-content: center;
}

.img-size {
    height: 324px;
}

#add-movie {
    width: 500px;
    height: auto;
}

